@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme{
    --color-primary: #4a90e2;
    --color-secondary: #50e3c2;
    --color-accent: #f5a623;
    --font-fancy: "Open Sans", sans-serif;
}